# This file is for unifying the coding style for different editors and IDEs
# More information can be found at https://editorconfig.org

[*.{html,css,js,json,toml,md,org}]
indent_style = space
indent_size = 2