{{ define "main" }}
<div class="blog">
  <div class="blog-container">
    <h2 class="screen-readers">{{ .Title }}</h2>
    {{ range $p := .Paginator.Pages }}
    <article class="blog-post">
      <header>
        <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
      </header>
      {{ with or (.Resources.GetMatch "featured.*") (.Resources.Get .Params.featuredimage) }}
      <div class="featured-image">
        <a href="{{ $p.RelPermalink }}">
          <img src="{{ .RelPermalink }}" loading="lazy" width="{{ .Width }}" height="{{ .Height }}" alt="featuredimage">
        </a>
      </div>
      {{ end }}
      <div class="post-summary">
        {{ .Summary }}
      </div>
      <footer>
        <span>Posted on </span>
        <time datetime="{{ .Date | dateFormat "2006-01-02" }}">{{ .Date | dateFormat "January 2, 2006" }}</time>
        <span class="posted-by">by {{ .Params.author }}</span>
      </footer>
    </article>
    {{ end }}
  </div>
</div>
{{ template "_internal/pagination.html" . }}
{{ end }}