{{ define "main" }}
<div class="blog">
  <div class="blog-container">
    <article class="blog-post">
      <header>
        <h2>{{ .Title }}</h2>
      </header>
      {{ with or (.Resources.GetMatch "featured.*") (.Resources.Get .Params.featuredimage) }}
      <div class="featured-image">
        <a href="{{ .RelPermalink }}">
          <img src="{{ .RelPermalink }}" loading="lazy" width="{{ .Width }}" height="{{ .Height }}" alt="featuredimage">
        </a>
      </div>
      {{ end }}
      <div class="post-content">
        {{ .Content }}
      </div>
      <div class="blog-meta">
        <p>Posted on 
        <time datetime="{{ .Date | dateFormat "2006-01-02" }}">{{ .Date | dateFormat "January 2, 2006" }}</time>
        <span class="posted-by">by {{ .Params.author }}</span></p>
        {{ with .Params.tags }}
        <p>In
          {{ range . }}
          <a class="tag" href="/tags/{{ . | urlize }}">{{ . }}</a>
          {{ end }}
        </p>
        {{ end }}
      </div>
      {{ $related := .Site.RegularPages.Related . | first 5 }}
      {{ with $related }}
      <footer class="related">
        <h3>Related posts</h3>
        <ul>
          {{ range . }}
          <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
          {{ end }}
        </ul>
      </footer>
      {{ end }}
    </article>
  </div>
</div>
{{ end }}