:root {
  font-size: 1em;
  line-height: 1.5;
  box-sizing: border-box;
  --theme-bg-color: #fff7f7;
  --heading-color: #a01f64;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background: var(--theme-bg-color);
}

h1,
h2,
h3 {
  color: var(--heading-color);
}

a {
  text-decoration: none;
  background-color: transparent;
}

.container {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

@media (min-width: 52em) {
  .container {
    grid-template-columns: minmax(300px, 800px);
    justify-content: center;
  }
}