:root {
  font-size: 1em;
  line-height: 1.5;
  box-sizing: border-box;
  --theme-bg-color: #edeae8;
  --header-bg-color: #a01f64;
  --heading-color: #a01f64;
  --button-bg-color: #008080;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-display: swap;
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/merriweather-v30-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v18-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/inter-v18-latin-italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-v18-latin-700.woff2") format("woff2");
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background: var(--theme-bg-color);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Merriweather", serif;
  font-weight: 700;
  color: var(--heading-color);
}

h2 {
  margin-top: 0;
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1.2em;
}

a {
  text-decoration: none;
  background-color: transparent;
}

p {
  color: #454545;
  font-weight: 400;
  font-size: 1.15em;
  line-height: 1.6;
}

ul {
  padding-left: 1.8em;

  & li {
    padding: .1em 0;

    & > p {
      margin-top: 0;
      margin-bottom: 0;
    }

    &::marker {
      color: #1f93a1;
      font-size: 1.2em;
      font-weight: 800;
    }
  }
}

figure {
  margin: 0;

  & img {
    width: 100%;
    height: auto;
  }
}

img {
  /* Fixes a glitch in Firefox causing the alt text of the image
  to be briefly displayed before the image loads. */
  color: transparent;
}

blockquote {
  margin: 1.5em 0;
  padding: 0 1em;
  border-left: 5px solid #d3d3d3;

  & > :first-child {
    margin-top: 0 !important;
  }

  & > :last-child {
    margin-bottom: 0 !important;
  }
}

table {
  border-collapse: collapse;
  margin: 0 0 1.5em;
  width: 100%;

  & th, & td {
    padding: .5em;
    text-align: left;
  }

  & tr {
    border-bottom: 1px solid #eee;
  }

  &.lntable pre {
    padding: 0;
  }
}

.highlight pre {
  padding: .8em;
  overflow: auto;
  border-radius: 0.3125em;
  background-color: #f0f0f0 !important;

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #bbbbbb;
  }
}

.container {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.header {
  background: var(--header-bg-color);
  grid-area: header;
  height: 80px;
}

.header-container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100%;
}

.site-title a {
  color: #ffffff;
}

.main {
  grid-area: main;
  margin: 1em 0;
  padding: 0 .5em;
  min-width: 0;
}

.card {
  margin: 2.5em 0 1em;
  padding: 2em 1.5em;
  background: #ffffff;
  box-shadow:
    -1px 2px 10px 1px rgba(46, 41, 51, 0.08),
    1px 2px 5px rgba(71, 63, 79, 0.08);
}

.button {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  margin-top: 1.7em;
  line-height: 1.8;
  font-size: 1.1em;
  cursor: pointer;
  color: #ffffff;
  letter-spacing: .10em;
  padding: .57em 1.8em;
  border: 1px solid transparent;
  background: #3b9ba7;
  transition: transform ease-in-out 250ms;
  box-shadow: -4px 3px 8px -3px rgba(0, 0, 0, .5);

  &:hover {
    transform: scale(1.1);
  }
}

.pagination {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 1em auto;
  padding: 0;

  .page-item {
    border: 1px solid #ddd;
    flex: 1;
    text-align: center;
    width: 5em;

    &.active {
      background-color: #333;
      .page-link {
        color: #fff;
      }
    }

    &.disabled {
      .page-link {
        color: #ddd;
      }
    }
  }

  .page-link {
    display: block;
    color: #000;
    text-decoration: none;
    padding: 0.3em 0.8em;
  }
}

.screen-readers {
  position: absolute;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

/* =Navigation
----------------------------------------------------------------------------*/
.menu-toggle {
  border: 10px solid transparent;
  box-sizing: content-box;
  padding: 0;
  cursor: pointer;
  outline: none;
  background: transparent;
  width: 30px;
  height: 22px;
  overflow: hidden;
  outline: 0;

  & span {
    display: block;
    position: relative;
    height: 14px;
    border-top: 4px solid #ffffff;
    border-bottom: 4px solid #ffffff;
    text-decoration: none;
    color: transparent;

    &::before, &::after {
      content: "";
      position: absolute;
      height: 4px;
      top: 5px;
      left: 0;
      right:0;
      background: #ffffff;
      transform: rotate(0deg);
    }
  }
}

.open .menu-toggle span {
  border-color: transparent;

  &::before, &::after {
    border-radius: 10px;
    width: 26px;
    height: 5px;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.menu-container {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  overflow: hidden;
  background: #fff;
}

.main-navigation {
  & ul {
    display: none;
    margin: 0;
    background: #fff;
    list-style: none;
    text-align: left;

    & li {
      border-bottom: 1px solid #eee;
      position: relative;

      &:last-child {
        border: 0;
      }

      & a {
        display: block;
        padding: .8em 0;
        color: #222;
        font-weight: 600;
        text-decoration: none;

        &:focus {
          outline: thin dotted;
        }

        &:hover {
          color: #767676;
        }
      }
    }
  }

  &.open .menu {
    display: block;
  }
}

.menu {
  padding: 0.75em 1.695em;
}

/* =Posts
----------------------------------------------------------------------------*/
.blog-post {
  margin: 2.5em 0 1em;
  padding: 2em .8em;
  background: #ffffff;
  box-shadow:
    -1px 2px 10px 1px rgba(46, 41, 51, 0.08),
    1px 2px 5px rgba(71, 63, 79, 0.08);

  & img {
    width: 100%;
    height: auto;
  }

  & h2 {
    margin-bottom: .4em;

    & a {
      color: var(--heading-color);
    }
  }

  & > header {
    margin-bottom: 2.4em;
  }
}

.featured-image {
  margin: 3em 0 0;
}

.post-published {
  display: flex;
  align-items: center;
}

.post-summary {
  margin-bottom: 2.4em;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  stroke-width: 1.33;
}

a.read-more {
  background: var(--button-bg-color);
  color: #ffffff;
  font-weight: 400;
  display: inline-block;
  padding: .40em .8em;
}

/* =Taxonomies
----------------------------------------------------------------------------*/
.tags {
  display: grid;
  grid-gap: 5px;
  padding: 0;
  margin: 3em 0 0;
  list-style-type: none;
  grid-template-columns: 1fr;
  width: 880px;

  & li {
    margin: 5px 0;
  }
}

/* =Footer
----------------------------------------------------------------------------*/
.footer {
  grid-area: footer;
  padding: 0 .5em;

  &::before {
    content: "";
    display: block;
    height: 3px;
    width: 50px;
    background: #707070;
    margin-bottom: 20px;
  }

  & > :first-child {
    color: #2f5f9f;
    font-size: 0.9em;
    font-weight: bold;
    margin-bottom: 0.5em;
  }

  & > :last-child {
    margin-top: 0;
    font-size: 0.8em;
  }
}

/* =404
----------------------------------------------------------------------------*/
.page-404 {
  margin: 4em 0 2em;
}

.page-404-container {
  display: flex;
  text-align: center;
  align-items: center;
  flex-flow: column wrap;
  justify-content: center;

  & img {
    width: 300px;
  }

  & h2 {
    margin: 2em 0 0 0;
  }
}

@media (min-width: 52em) {
  .container {
    grid-template-columns: minmax(1em, 1fr) minmax(300px, 960px) minmax(1em, 1fr);
    justify-content: center;
    grid-template-areas:
      "header header header"
      ". main ."
      ". footer .";
  }

  .main-navigation {
    & ul {
      background: var(--header-bg-color);
      border: 0;
      padding: 0;
      display: block;
      margin-bottom: 0;

      & li {
        border: 0;
        display: inline-block;

        & a {
          color: #ffffff;
          font-size: 1.1em;
          padding: 1em 1.25em;
        }
      }
    }
  }

  .menu-toggle {
    display: none;
  }

  .menu-container {
    position: initial;
    overflow: initial;
  }

  .blog-post,
  .card {
    padding: 2em;
  }

  .tags {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 30em) and (max-width: 52em) {
  .tags {
    grid-template-columns: repeat(2, 1fr);
  }
}