:root {
  font-size: 1em;
  line-height: 1.5;
  box-sizing: border-box;
  --theme-bg-color: #fff7f7;
  --heading-color: #a01f64;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background: var(--theme-bg-color);
}

h1,
h2,
h3 {
  color: var(--heading-color);
}

a {
  text-decoration: none;
  background-color: transparent;
}

figure {
  margin: 0;

  & img {
    width: 100%;
    height: auto;
  }
}

img {
  /* Fixes a glitch in Firefox causing the alt text of the image
  to be briefly displayed before the image loads. */
  color: transparent;
}

blockquote {
  margin: 1.5em 0;
  padding: 0 1em;
  border-left: 5px solid #d3d3d3;

  & > :first-child {
    margin-top: 0 !important;
  }

  & > :last-child {
    margin-bottom: 0 !important;
  }
}

table {
  border-collapse: collapse;
  margin: 0 0 1.5em;
  width: 100%;

  & th, & td {
    padding: .5em;
    text-align: left;
  }

  & tr {
    border-bottom: 1px solid #eee;
  }

  &.lntable pre {
    padding: 0;
  }
}

.container {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

.screen-readers {
  position: absolute;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

@media (min-width: 52em) {
  .container {
    grid-template-columns: minmax(300px, 800px);
    justify-content: center;
  }
}