:root {
  font-size: 1em;
  line-height: 1.15;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf") format("truetype");
}
*/

body {
  margin: 0;
  padding: 0;
  background: #fff7f7;
  font-family: "Open Sans", sans-serif;
}

h2 {
  color: #a01f64;
  font-size: 2rem;
  font-weight: 400;
  font-family: "Merriweather", serif; 
}

h3 {
  color: #a01f64;
  font-size: 1.5em;
  font-family: "Merriweather", serif;
}

p {
  margin: 1.1em 0;
  font-size: 1em;
  line-height: 1.7;
  color: #1e1e1e;
}

a {
  /*color: #1F4EA1;*/
  color: #2753a6;
  text-decoration: none;
  background-color: transparent;
}

i {
  font-style: normal;
}

figure {
  margin: 0; /* added */
}

/* Blog posts */
figure img {
  width: 100%;
}

time {
  /*color: #8b3060;*/
  /*color: #af4a88;*/
  color: #963271;
}

.grid-container {
  display: grid;
  grid-gap: 10px;
  justify-content: center;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: auto auto;
  grid-template-areas:
    "header"
    "sidebar"
    "main"
    "footer";
}

.src code {
  font-size: 1em;
}


code:not([class]) {
  font-size: .9em;
  padding: .2em .4em;
  background: #f0f0f0;
}

code.verbatim {
  background: none;
}

.src pre {
  padding: .8em .4em;
  overflow: auto;
  border-radius: 0.3125em;
  background: #f0f0f0;
  color: #1f2328;
  line-height: 1.6;
  
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #bbb;
  }
}

blockquote {
  font-style: italic;
  padding-left: 1em;
  padding-right: 1em;
  margin: 2em 1em 2em 0;
  border-left: 0.25em solid #6f777d;
}

table {
  border-collapse: collapse;
  margin: 0 0 1.5em;
  width: 100%;
    
  & th, td {
    padding: .5em;
    text-align: left;
  }
    
  & tr {
    border-bottom: 1px solid #eee;
  }
}

figcaption {
  text-align: center;
}

.button {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  margin-top: 1.7em;
  line-height: 1.8;
  font-size: 1.1rem;
  cursor: pointer;
  color: #fff;
  letter-spacing: .10em;
  padding: 0.57em 1.8em;
  border: 1px solid transparent;
  background: #3b9ba7;
  transition: transform ease-in-out 300ms;
  box-shadow: -4px 3px 8px -3px rgba(0, 0, 0, .5);
  border-radius: .4em;

  &:hover {
    transform: scale(1.1);
  }
}

.visuallyhidden {
  position: absolute;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.main {
  grid-area: main;
  padding: 0 1em;
  margin-bottom: 2.2em;
}

.footer {
  grid-area: footer;
}

/* header */
.header {
  grid-area: header;
}

/* Site header */
.site-title {
  /*display: none;*/
  font-size: 1.8em;
}

/* Sidebar */
.sidebar {
  grid-area: sidebar;
  margin-top: 38px;
}

.site-logo {
  border-radius: 100%;
  width: 150px;
  height: 150px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

.site-avatar {
  margin: 0 0 20px;
  padding: 0 1em;
}

.something {
  background: #fff;
  padding: 0.5em .8em;
  position: relative;
  margin: 1.5em -.5em;
  border-radius: 0.25em;
  box-shadow:
    -1px 2px 10px 1px rgba(46, 41, 51, 0.08),
    1px 2px 5px rgba(71, 63, 79, 0.08);
  transition:
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

@media (min-width: 52em) {
  .grid-container {
    grid-template-columns: minmax(250px, auto) minmax(300px, 800px);
    grid-template-areas:
      "header ."
      "sidebar main"
      ". footer";
  }

  .main {
    margin-top: 1em;
  }

  .something {
    padding: 0.5em 2em;
  }
}

/* Footer */
.footer {
  grid-area: footer;
  color: #000;
  padding: 0 1.1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-col-1::before {
  content: "";
  display: block;
  height: 3px;
  width: 50px;
  background: #707070;
  margin-bottom: 20px;
}

.copyright {
  font-size: 0.9rem;
  font-weight: bold;
  color: #2f5f9f;
  margin-bottom: 0.5em;
}

.footersecond {
  margin-top: 0;
  font-size: 0.8rem;
}

/* tags */
.main ul {
  list-style: none;
  padding: 0;
  /*padding: 0 1em;*/
}

.main ul > li + li {
  margin: 10px 0px;
}

.main ul li a {
  line-height: 1.6;
}